#gameContainer{
    text-align: center;
    color: black;
}
#board{
    border: 5px solid;
    color: black;
}
#scoreText{
    font-family: "Times New Roman", cursive;
    font-size: 100px;
}
#resetBtn{
    font-family: "Times New Roman", cursive;
    font-size: 25px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    color:red
}